{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="{{url_for('static', filename="css/index.css")}}">
{% endblock  %}

{% block body %}

    <header id="header">
        <a class="logo" href="">EP</a>
    </header>
    <section>

        <img src="{{url_for('static', filename="img/clouds.png")}}" id="clouds" alt="">
        <img src="{{url_for('static', filename="img/sun.png")}}" id="sun" alt="">
        <img src="{{url_for('static', filename="img/mountains.png")}}" id="mountains" alt="">
        <h2 id="text">Kibble Time</h2>
        <a href="#description" id="explore_btn">Explore</a>
        <img src="{{url_for('static', filename="img/backyard.png")}}" id="backyard" alt="">
        <img src="{{url_for('static', filename="img/dog.png")}}" id="dog" alt="">

    </section>

    <div class="description" id="description">
        <div class="description-inner">
            <h2 class="text-center">A happy dog is a happy owner.</h2>
            <p>
                It can be difficult to remember if your pup ate lunch or dinner. And if you live with family or house mates, it can take long
                to receive a reply that your dog has been fed. Poor puppy&#128549;.
            </p>
            <p>With Kibble Time, an SMS based application, you can check and update your dog's meal status in an instant!</p>
            <form action="/" method="POST" class="needs-validation" novalidate>
                <label class="form-label" for="phone">Enter phone number:</label>
                
                <div class="input-group submission">
                    <span class="input-group-text">+1</span>
                    <input class="form-control" name="phone" pattern="[0-9]{10}" type="tel" placeholder="Enter phone number" required>
                    <div class="invalid-feedback">
                        Enter a valid phone number.
                    </div>
                </div>
                    
                
                <button class="btn btn-success mt-3" type="submit">Sign up!</button>
            </form>
        </div>
    </div>

<script src="{{url_for('static', filename="js/app.js")}}"></script>
<script src="{{url_for('static', filename="js/validateForm.js")}}"></script>

{% endblock  %}


